# Data Science Tools And Ecosystem

In this notebook data science tools and ecosystem are summarized

 Some of the key takeaways from the course:
 
 **Objectives**
 *  Data Science languages
 *  Data Science enviornments
 *  Data science libraries 
 *  evaluating airthmetic expressions

some of the popular languages that data scientists use are 
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|Rstudio|
|jupyter notebook|
|visual studio code|

### below are a few examples of evaluating airthmetic expressions in Python

In [23]:
(3*4)+5

17

In [25]:
#This will convert 200 minutes to hours by diving by 60

In [27]:
hours=200/60
print(hours)

3.3333333333333335

##author

HAFSA